@font-face {
  font-family: "gilroy";
  font-weight: 200;
  src: url(./font/Gilroy-Medium.otf);
}

@font-face {
  font-family: "voyage";
  src: url(./font/Voyage-Regular.ttf);
}

@font-face {
  font-family: "voyage";
  src: url(./font/Voyage-Regular.ttf);
}

@font-face {
  font-family: "ogg";
  font-weight: 100;
  src: url(./font/Ogg-Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222222;
  ::selection {
    color: rgb(222, 220, 220);
    background-color: #5f5f5f;
  }

  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  min-height: 100vh;
  width: 100%;
  background-color: #ececec;
}

#nav {
  position: absolute;
  z-index: 999;
  height: 10vh;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
}

#nav #left {
  font-family: "voyage";
  font-size: 1vw;
}

#nav #right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "gilroy";
  font-size: 0.8vw;
}

#nav #right a:nth-child(1) {
  border-bottom: 0.2em solid #222222;
}

#nav #right a {
  cursor: pointer;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.1vw;
}

#right img {
  height: 2.5em;
  margin-left: 2em;
}

#right img:hover {
  cursor: pointer;
}

#firstpage {
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

#mainpage {
  position: absolute;
  top: 12vh;
  left: 5.9em;
  display: inline-block;
  font-size: 4.3vw;
  font-family: "voyage";
  font-weight: 100;
}

#mainpage #firstline {
  display: flex;
  align-items: center;
}

#firstline h1:nth-child(4) {
  margin-left: 0.3em;
}

#firstline h1 {
  font-weight: 100;
}

#o {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
  margin-bottom: -0.2em;
  background-image: url(https://images.unsplash.com/photo-1565230698474-2a8a500c35cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1387&q=80);
  background-position: center;
  background-size: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#secondline h1 {
  margin-left: 0.9em;
  font-weight: 100;
}

#hr {
  position: absolute;
}

#thirdline {
  display: flex;
}

#thirdline h1 {
  margin-left: -0.8em;
  font-weight: 100;
}

#fourthline h1 {
  margin-left: 1.7em;
  font-weight: 100;
}

#second {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  /* background-color: #a83f3f; */
}

#k {
  border-radius: 50%;
  border: 1px solid black;
  font-family: "gilroy";
}

#second #left {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second #right {
  position: relative;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photu {
  height: 70%;
  width: 70%;
  border: 1px solid #383333;
  display: flex;
  align-items: center;
  justify-content: center;
}

#photu #photuin {
  height: 95%;
  width: 95%;
  background-color: rgb(51, 48, 43);
  background-image: url(./images/Poorvanshi-photo.jpg);
  background-position: center;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

#para {
  position: absolute;
  top: 13%;
  height: 60vh;
  width: 50%;
  margin-left: 30px;
  margin-top: 2.5em;
  font-size: 1.2vw;
}

#mainhead {
  font-family: "voyage";
}

#subhead {
  font-family: "gilroy";
  margin-top: 0.5em;
  font-size: 1em;
}

#firstpara {
  margin-top: 2em;
  font-family: "gilroy";
}

#secondpara {
  display: inline-block;
  font-family: "ogg";
  font-weight: 900;
  text-align: center;
  margin-left: 4.5em;
  margin-top: 40px;
}

#thirdpage {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ececec;
  display: flex;
}

#leftt {
  height: 100%;
  width: 40%;
  background-color: aliceblue;
}

#design {
  bottom: 0;
  background-color: rgb(236, 160, 45);
}

#img {
  position: absolute;
  bottom: 0;
  height: 100%;
  /* width: 100vw; */
  display: flex;
  margin-right: 10px;
  background-color: crimson;
  overflow: hidden;
}

#img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 10px;
}

#over {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#skills {
  position: relative;
}

#contact {
  border-top: 1px solid transparent;
  height: 30vh;
  width: 100%;
  text-align: center;
  font-family: "gilroy";
  font-size: 1vw;
  background: linear-gradient(
    to bottom,
    rgb(56, 54, 54),
    rgb(182, 179, 179),
    rgb(56, 54, 54)
  );
}

#links {
  margin-top: 1em;
}

#links a {
  text-decoration: none;
  font-size: 1.5vw;
  margin-left: 0.2em;
}

#contact h1 {
  margin-top: 0.3em;
}

#mail {
  margin-top: 1em;
}

h6 {
  margin-top: 2em;
}

#skills {
  position: relative;
  border-top: 1px solid transparent;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3vw;
  /* font-family: "voyage"; */
  font-weight: 100;
  color: #5f5f5f;
  padding: 3em;
  height: 100%;
  background-color: white;
  font-family: "gilroy";
}

#sk {
  position: absolute;
  top: 5em;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
}

#skills h1 {
  color: #5f5f5f;
  font-family: "voyage";
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.skill-boxes {
  display: grid;
  /* grid-template-columns: 215px 215px 215px; */
  column-gap: 9.5rem;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.skill-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  /* justify-content: space-between; */
  margin-bottom: 2rem;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 6rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #5f5f5f;
}

.main-box img {
  width: 78%;
}

.ll {
  height: 0.009em;
  background-color: black;
  width: 15em;
}

#cp {
  height: 1.5em;
  width: 1.5em;
  background-color: #5f5f5f;
  border-radius: 50%;
}

#vl {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  height: 16em;
  width: 0.009em;
  background-color: #5f5f5f;
}

.box {
  height: 2em;
  width: 6em;
  background-color: rgb(49, 49, 49);
  margin-bottom: 1em;
  /* text-align: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
}

.box h3 {
  color: rgb(233, 233, 233);
  font-family: "gilroy";
  font-size: 1.2vw;
}

#one {
  position: absolute;
  top: 28%;
  left: 42%;
}

#two {
  position: absolute;
  top: 40%;
  left: 50.3%;
}

#three {
  position: absolute;
  top: 52%;
  left: 42%;
}

#four {
  position: absolute;
  top: 64%;
  left: 50.3%;
}

#five {
  position: absolute;
  top: 76%;
  left: 42%;
}

#contact h1 {
  font-weight: 700;
  font-family: "ogg";
}

#contact h1:hover {
  color: #ececec;
}

#page {
  min-height: 100vh;
  width: 100%;
  background-color: cadetblue;
}

.section-22 {
  height: calc(236vh);
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: 40% 60%;
  background-color: #ececec;
  /* border-top: 1px solid gray; */
  /* position: absolute; */
  padding: 0 3em;
}

blockquote {
  font-size: 4vmin;
  padding: 16px 16px 0 16px;
  /* background-color: aquamarine; */
  font-family: "ogg";
  width: 90%;
}

cite {
  display: block;
}

.images-container {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 16px;
}

.images-container img {
  position: relative;
  width: 100%;
  max-height: 75vh;
  /* height: 100%; */
  align-self: stretch;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  margin-bottom: 15px;
}

.box:hover {
  transform: translate(-50%, -50%) scale(2);
  background-color: rgb(90, 86, 86);
}

.box:hover h3 {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#two:hover {
  transform: translate(51%, 0%) scale(2);
  background-color: rgb(90, 86, 86);
}

.two:hover h3 {
  color: white;
  cursor: pointer;
}

#four:hover {
  transform: translate(51%, 0%) scale(2);
  /* background-color: rgb(216, 169, 14); */
  background-color: rgb(90, 86, 86);
}

#four:hover h3 {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.images-container img:hover {
  /* transform: translate(-5%, 0%) scale(1.1); */
  z-index: 999;
}

#nav #right #git {
  display: none;
}

@media (max-width: 400px) {
  #nav #left {
    font-size: 3vw;
  }
  #nav {
    padding: 0 1em;
  }
  #nav a {
    display: none;
  }
  #nav #right #git {
    display: initial;
  }
  #nav #right #git img {
    font-size: 2.5vw;
  }
  #firstline {
    font-size: 9vw;
    left: 3em;
  }
  #secondline {
    font-size: 9vw;
  }
  #secondline h1 {
    left: 0.9em;
  }
  #thirdline {
    font-size: 8vw;
  }
  #thirdline h1 {
    margin-left: -0.6em;
  }
  span {
    /* display: none; */
  }
  #fourthline {
    font-size: 9vw;
    left: 1em;
  }
  #fourthline h1 {
    margin-left: -0.01em;
    /* margin-top: .5em; */
  }
  #mainpage {
    top: 22vh;
    left: 2.9em;
  }
  #second {
    flex-direction: column;
  }
  #second #left {
    width: 100%;
  }
  #second #right {
    width: 100%;
    height: 250%;
    position: relative;
  }
  #photu {
    height: 165%;
  }
  #para {
    width: 100%;
    margin-left: 63px;
    font-size: 3.5vw;
  }
  .section-22 {
    border-top: 1px solid gray;
    margin-top: 30px;
    display: inline;
    height: calc(405vh);
  }
  #skills {
    /* height: 70vh; */
    font-size: 3.3vw;
  }
  #vl {
    top: 43%;
  }
  #one {
    /* left: 29.5%; */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #two {
    /* left: 51%; */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #three {
    /* left: 29.5%; */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #four {
    /* left: 51%; */
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #five {
    /* left: 29.5%; */
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #vl {
    display: none;
  }
  #links a {
    font-size: 1em;
  }
  #links {
    margin-bottom: 10px;
  }
  #secondpara {
    font-size: 0.6em;
  }
  #firstpara {
    /* background-color: lightblue; */
    margin-top: 2em;
    width: 92%;
  }
  .pinned-quote {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 1em;
  }
  #contact {
    height: 30vh;
    font-size: 3.5vw;
  }
  .images-container img {
    height: 27vh;
    width: 70vw;
    /* transform: translate(20%, -10%); */
    margin-bottom: 20px;
  }
  #second {
    height: 80vh;
  }
}

.images-container {
  margin-left: auto;
}

.image {
  width: 45vw;
  margin-bottom: 1rem;
  /* object-fit: cover; */
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgb(176, 171, 171);
}

.image img {
  width: 100%;
  object-fit: cover;
  background-color: #c19c7e;
}

.footer {
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

.footer button {
  padding: 0.5rem;
  border-radius: 1.2rem;
  background-color: white;
  border: 1px solid rgb(162, 159, 159);
  font-size: 0.8rem;
  color: #5f5f5f;
  width: 8rem;
  cursor: pointer;
}

.footer button a {
  text-decoration: none;
}

.credit {
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
  #firstpage {
    height: 72vh;
  }
}

@media screen and (max-width: 830px) {
  #firstpage {
    height: 55vh;
  }
  #contact {
    font-size: 1.5vw;
  }
  blockquote {
    font-size: 3vmax;
  }
}

@media screen and (max-width: 768px) {
  #photu {
    height: 50vw;
    width: 38vw;
  }
  #contact {
    font-size: 1.8vw;
  }

  .section-22 {
    height: calc(140vw);
    padding-top: 1.2rem;
  }

  blockquote {
    font-size: 3.5vmax;
  }
}

@media screen and (max-width: 685px) {
  #firstpage {
    height: 40vh;
  }

  .skill-boxes {
    grid-template-columns: 1fr 1fr;
  }

  #nav {
    padding: 0 2em;
  }

  .section-22 {
    /* display: block; */
    height: calc(150vw);
    padding-top: 1.2rem;
  }

  blockquote {
    font-size: 2vmax;
  }

  #contact {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  #firstpage {
    height: 47vh;
  }

  #second {
    flex-direction: column;
  }

  #second #left {
    width: 100%;
    height: 75%;
  }

  #second #right {
    width: 100%;
    height: 55%;
  }

  #para {
    height: auto;
    transform: translate(-50%, -50%);
    margin-left: 0;
    text-align: center;
  }

  #pinSection {
    display: none;
  }

  .section-22 {
    display: block;
    height: calc(155vw);
    padding-top: 1.2rem;
  }

  .images-container {
    width: 100%;
  }

  .image {
    margin-left: auto;
    margin-right: auto;
  }

  .skill-boxes {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .skill-box {
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    font-size: 2vw;
  }

  .footer button {
    width: 7rem;
  }

  #nav {
    padding: 0 2em;
  }
}

@media screen and (max-width: 480px) {
  #contact {
    font-size: 3vw;
  }

  #nav {
    padding: 0 2em;
  }

  #firstpage {
    height: 35vh;
  }

  #second #left {
    height: 60%;
  }

  #second #right {
    height: 30%;
  }
}
